<div class="page">
  <img class="fondo" src="assets/web-images/fondo.jpg">
  <div class="logo">
    <img src="assets/web-images/logoNuevo.svg">
  </div>
  <div class="c-botones">
    <div class="c-botones_registro" routerLink='/registro'>
      <div class="c-caja">
        <p class="c-caja_titulo">REGISTRARSE</p>
        <img class="c-caja_iconoR" src="assets/web-images/registro.png">
      </div>
    </div>
    <div class="c-botones_login" routerLink='/login'>
      <div class="c-caja">
        <p class="c-caja_titulo">INICIAR SESIÓN</p>
        <img class="c-caja_iconoI" src="assets/web-images/login.png">
      </div>
    </div>
  </div>
  <!-- footer con component o a mano, ejemplo bajo -->
</div>






<!--
  <img class="rectanguloFooter" src="IMG/paginaInicio/rectanguloFooter.png">
  <p class="tituloFooter">Síguenos en</p>
  <a href="https://www.instagram.com/?hl=es"><img class="iconoInstagram"
          src="IMG/paginaInicio/Icono-Instagram.png"></a>
  <a href="https://www.facebook.com/"><img class="iconoFacebook" src="IMG/paginaInicio/Icono-Facebook.png"></a>
  <p class="contacto">contacto@healthit.com</p> -->
